span .calender { width:170px; height:auto; font-size:12px; margin-right:14px; background:url(calenderbg.gif) no-repeat right center #fff; border:1px solid #397EAE; padding:1px}
span .calender ul {list-style-type:none; margin:0; padding:0;}
span .calender .day { background-color:#EDF5FF; height:20px;}
span .calender .day li,.calender .date li{ float:left; width:14%; height:20px; line-height:20px; text-align:center}
span .calender li a { text-decoration:none; font-family:Tahoma; font-size:11px; color:#333}
span .calender li a:hover { color:#f30; text-decoration:underline}
span .calender li a.hasArticle {font-weight:bold; color:#f60 !important}
span .lastMonthDate, .nextMonthDate {color:#bbb;font-size:11px}
span .selectThisYear a, .selectThisMonth a{text-decoration:none; margin:0 2px; color:#000; font-weight:bold}
span .calender .LastMonth, .calender .NextMonth{ text-decoration:none; color:#000; font-size:18px; font-weight:bold; line-height:16px;}
span .calender .LastMonth { float:left;}
span .calender .NextMonth { float:right;}
span .calenderBody {clear:both}
span .calenderTitle {text-align:center;height:20px; line-height:20px; clear:both}
span .today { background-color:#ffffaa;border:1px solid #f60; padding:2px}
span .today a { color:#f30; }
span .calenderBottom a {text-decoration:none; margin:2px !important; font-weight:bold; color:#000}
span .calenderBottom a.closeCalender{float:right}
span .closeCalenderBox {float:right; border:1px solid #000; background:#fff; font-size:9px; width:11px; height:11px; line-height:11px; text-align:center;overflow:hidden; font-weight:normal !important}